{% extends 'aboutbase.html.twig' %}
{% block body %}


        <!--==============page header============-->
        <div class="page-breadcrumb">
            <div class="container text-center">
                <h1>About the resto</h1>
            </div>
        </div>
        <!--==============end page header============-->
        <div class="space-80"></div>



        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-center">
                    <div class="space-30"></div>
                    <h1 class="title-1">Resto <span class="text-color">Founder</span></h1>  
                    <h5 class="subtitle">Our Little Story</h5>
                    <div class="space-30"></div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean <span class="text-color">commodo</span> ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                    </p>
                    <blockquote>
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.

                    </blockquote>
                    <img src="{{ asset('images/sign.png') }}" alt="">
                    <div class="space-30"></div>
                </div>
                <div class="col-md-6">
                    <img src="{{ asset('images/founder.png') }}" alt="" class="img-fluid center-img">
                </div>
            </div>
        </div>
                <div class="about-chefs" >
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 ml-auto mr-auto text-center">
                      <h1 class="text-uppercase"> award winning chefs </h1>
                      <p>
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                      </p>
                      <p>
                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                      </p>
                      <br>
                      <a href="#" class="btn btn-rounded btn-white">Learn More</a>
                  </div>

              </div>
          </div>
      </div>
                <!--about chef cta-->
                <div class="container">
            <div class="space-70"></div>
            <div class="text-center">
                <h1 class="title-1">Our <span class="text-color ">Chefs</span></h1>
                <h5 class="subtitle">Meet the resto team</h5>
                <div class="space-30"></div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 margin-b-30">
                    <div class="chef-box">
                        <img src="{{ asset('images/chef1.jpg') }}" alt="" class="img-fluid">
                        <h4>John Doe</h4>
                        <span>Master Chef</span>
                        <p>
                            Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 margin-b-30">
                    <div class="chef-box">
                        <img src="{{ asset('images/chef2.jpg') }}" alt="" class="img-fluid">
                        <h4>Emily Doe</h4>
                        <span>Master Chef</span>
                        <p>
                            Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 margin-b-30">
                    <div class="chef-box">
                        <img src="{{ asset('images/') }}chef3.jpg" alt="" class="img-fluid">
                        <h4>Nicky Smith</h4>
                        <span>Master Chef</span>
                        <p>
                            Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 margin-b-30">
                    <div class="chef-box">
                        <img src="{{ asset('images/chef4.jpg') }}" alt="" class="img-fluid">
                        <h4>Adam carlo</h4>
                        <span>Master Chef</span>
                        <p>
                            Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        </p>
                    </div>
                </div>
            </div>
        </div><!--/chefs-->








        <div class="testimonials bg-faded">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto text-center">
                        <div class="text-center">
                            <h1 class="title-1">Customer <span class="text-color ">Reviews</span></h1>  
                            <h5 class="subtitle">What they say</h5>
                            <div class="space-30"></div>
                        </div>
                        <div class="testi-slider">
                            <ul class="slides">
                                <li>
                                    <p>
                                        Duis leo justo, condimentum at purus eu,Aenean sed dolor sem. Etiam massa libero, auctor vitae egestas et, accumsan quis nunc. 
                                    </p>

                                    <div class="testi-info">
                                        <img src="{{ asset('images/avtar-1.jpg') }}" alt="" width="50" class="rounded-circle">
                                        <h4>John Doe <small> - Resto customer</small></h4>

                                        <i class="ion-star"></i>
                                        <i class="ion-star"></i>
                                        <i class="ion-star"></i>
                                        <i class="ion-star"></i>
                                        <i class="ion-ios-star-half"></i>
                                    </div>
                                </li><!--slide item-->
                                <li>
                                    <p>
                                        Duis leo justo, condimentum at purus eu,Aenean sed dolor sem. Etiam massa libero, auctor vitae egestas et, accumsan quis nunc. 
                                    </p>

                                    <div class="testi-info">
                                        <img src="{{ asset('images/avtar-2.jpg') }}" alt="" width="50" class="rounded-circle">
                                        <h4>John Doe <small> - Resto customer</small></h4>

                                        <i class="ion-star"></i>
                                        <i class="ion-star"></i>
                                        <i class="ion-star"></i>
                                        <i class="ion-star"></i>
                                        <i class="ion-ios-star-half"></i>
                                    </div>
                                </li><!--slide item-->
                                <li>
                                    <p>
                                        Duis leo justo, condimentum at purus eu,Aenean sed dolor sem. Etiam massa libero, auctor vitae egestas et, accumsan quis nunc. 
                                    </p>

                                    <div class="testi-info">
                                        <img src="{{ asset('images/avtar-3.jpg') }}" alt="" width="50" class="rounded-circle">
                                        <h4>John Doe <small> - Resto customer</small></h4>                                           
                                        <i class="ion-star"></i>
                                        <i class="ion-star"></i>
                                        <i class="ion-star"></i>
                                        <i class="ion-star"></i>
                                        <i class="ion-ios-star-half"></i>
                                    </div>
                                </li><!--slide item-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--testimonials end-->
        <div class="space-80"></div>





        <div class="space-50"></div>
 {% block javascripts %}
 {% endblock %}
{% endblock %}