{% extends 'base.html.twig' %}
{% block body %}
 <!--slider revolution start-->
        <div class="rev_slider_wrapper" id="home">
            <div id="slider1" class="rev_slider fullwidthabanner"  data-version="5.0">
                <ul> 
                    <li data-transition="random"> 
                        <!-- MAIN IMAGE -->

                        <img src="{{ asset('images/pizza.jpg') }}" alt="" width="1920" height="1000" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg">
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme slider-title" 
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                             data-fontsize="['80','80','80','45']"
                             data-lineheight="['80','80','80','50']"
                             data-width="none"
                             data-height="none"

                             data-transform_idle="o:1;" 
                             data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                             data-transform_out="auto:auto;s:300;" 
                             data-start="500">Wize Deals</div>
                        <div class="tp-caption tp-resizeme slider-caption" 
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                             data-y="['middle','middle','middle','middle']" data-voffset="['90','90','90','70']" 
                             data-fontsize="['20','20','20','15']"
                             data-lineheight="['25','25','25','20']"
                             data-width="none"
                             data-height="none" 
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                             data-transform_out="auto:auto;s:300;" 
                             data-start="1000">24" X Large Pizza | 8.99$ Large Pizza Wednesdays | Wize rewards for Wize users <br> CARRYOUT INSURANCE Insurance </div>
                        <div class="tp-caption tp-resizeme slider-button" 
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                             data-y="['middle','middle','middle','middle']" data-voffset="['160','160','160','120']" 
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;" 
                             data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                             data-transform_out="auto:auto;s:300;" 
                             data-start="1500"><a href="#" class="btn btn-xl btn-dark">Order Now!</a></div>
                    </li>
                    <li data-transition="random"> 
                        <!-- MAIN IMAGE -->

                        <img src="{{ asset('images/catering.jpg') }}" alt="" width="1920" height="1000" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg">
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme slider-title" 
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                             data-fontsize="['80','80','80','45']"
                             data-lineheight="['80','80','80','50']"
                             data-width="none"
                             data-height="none"

                             data-transform_idle="o:1;" 
                             data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                             data-transform_out="auto:auto;s:300;" 
                             data-start="500">Best chefs</div>
                        <div class="tp-caption tp-resizeme slider-caption" 
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                             data-y="['middle','middle','middle','middle']" data-voffset="['90','90','90','70']" 
                             data-fontsize="['20','20','20','15']"
                             data-lineheight="['25','25','25','20']"
                             data-width="none"
                             data-height="none" 
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;" 
                             data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                             data-transform_out="auto:auto;s:300;" 
                             data-start="1000">The best food in town at one of the best locations</div>
                        <div class="tp-caption tp-resizeme slider-button" 
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                             data-y="['middle','middle','middle','middle']" data-voffset="['160','160','160','120']" 
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;" 
                             data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                             data-transform_out="auto:auto;s:300;" 
                             data-start="1500"><a href="#" class="btn btn-xl btn-primary">Let's prepare your event!</a></div>
                    </li>
                    <li data-transition="random">
                        <!-- MAIN IMAGE -->

                        <img src="{{ asset('images/dessert.jpg') }}" alt="" width="1920" height="1000" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg">
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme slider-title"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                             data-fontsize="['80','80','80','45']"
                             data-lineheight="['80','80','80','50']"
                             data-width="none"
                             data-height="none"

                             data-transform_idle="o:1;"
                             data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="500">Dessert</div>
                        <div class="tp-caption tp-resizeme slider-caption"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['90','90','90','70']"
                             data-fontsize="['20','20','20','15']"
                             data-lineheight="['25','25','25','20']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="1000">Save room for dessert! It makes everything better!</div>
                        <div class="tp-caption tp-resizeme slider-button"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['160','160','160','120']"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:300;"
                             data-start="1500"><a href="#" class="btn btn-xl btn-dark">Extended Menu</a></div>
                    </li>
                    <li data-transition="random"> 
                        <!-- MAIN IMAGE -->

                        <img src="{{ asset('images/table.jpg') }}" alt="" width="1920" height="1000" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg">
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme slider-title" 
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                             data-fontsize="['80','80','80','45']"
                             data-lineheight="['80','80','80','50']"
                             data-width="none"
                             data-height="none"

                             data-transform_idle="o:1;" 
                             data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                             data-transform_out="auto:auto;s:300;" 
                             data-start="500">Visit Us</div>
                        <div class="tp-caption tp-resizeme slider-caption" 
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                             data-y="['middle','middle','middle','middle']" data-voffset="['90','90','90','70']" 
                             data-fontsize="['20','20','20','15']"
                             data-lineheight="['25','25','25','20']"
                             data-width="none"
                             data-height="none" 
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;" 
                             data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                             data-transform_out="auto:auto;s:300;" 
                             data-start="1000">Feel free to make a reservation for your next stop</div>
                        <div class="tp-caption tp-resizeme slider-button" 
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                             data-y="['middle','middle','middle','middle']" data-voffset="['160','160','160','120']" 
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;" 
                             data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" 
                             data-transform_out="auto:auto;s:300;" 
                             data-start="1500"><a href="#" class="btn btn-xl btn-primary">Book A Table</a></div>
                    </li>
                </ul> 
            </div><!-- END REVOLUTION SLIDER -->
        </div><!-- END OF SLIDER WRAPPER -->
        <!--end slider revolution-->


        <!--about us-->
        <section class="overflow-hidden" id="about">
            <div class="space-70"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 text-center">
                        <h1 class="title-1">Welcome to <span class="text-color ">Wize Guys</span></h1>
                        <h5 class="subtitle">Our Little Story</h5>
                        <div class="space-30"></div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean <span class="text-color">commodo</span> ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                        </p>
                        <blockquote>
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.

                        </blockquote>
                        <img src="{{ asset('images/sign.png') }}" alt="">
                        <div class="space-30"></div>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ asset('images/combine1.png') }}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="space-70"></div>
        </section>
        <!--end about us-->


       <section id="menu">
           <div class="space-70"></div>
           <div class="container">
               <div class="text-center">
                   <h1 class="title-1">Our <span class="text-color ">Menu</span></h1>
                   <h5 class="subtitle">Lorem ipsum dolor</h5>
                   <div class="space-30"></div>
               </div>
           <ul class="menu-filter-list list-inline margin-b-40 text-center">
               <li class="is-checked" data-filter="*">All</li>
               <li data-filter=".start">start</li>
               <li data-filter=".breakfast">Breakfast</li>
               <li data-filter=".lunch">Lunch</li>
               <li data-filter=".dinner">Dinner</li>

           </ul>
           <div class="row menu-filter-items">
               <div class=" start breakfast col-md-4 margin-b-30 menu-item">
                   <a href="#" class="menu-grid">
                       <img src="{{ asset('images/img-1.jpg') }}" alt="" class="img-fluid">
                       <div class="menu-grid-desc">
                           <span class="price float-right">$12.50</span>
                           <h4>Menu title</h4>
                           <p>
                               Mauris malesuada fames Aliquam erat ac ipsum dipiscing Nulla amet elt wisi bulum Integer luctus et.
                           </p>
                       </div>
                   </a>
               </div><!--end col-->
               <div class=" dinner lunch col-md-4 margin-b-30 menu-item">
                   <a href="#" class="menu-grid">
                       <img src="{{ asset('images/img-2.jpg') }}" alt="" class="img-fluid">
                       <div class="menu-grid-desc">
                           <span class="price float-right">$9.50</span>
                           <h4>Menu title</h4>
                           <p>
                               Mauris malesuada fames Aliquam erat ac ipsum dipiscing Nulla amet elt wisi bulum Integer luctus et.
                           </p>
                       </div>
                   </a>
               </div><!--end col-->
               <div class=" start lunch col-md-4 margin-b-30 menu-item">
                   <a href="#" class="menu-grid">
                       <img src="{{ asset('images/img-3.jpg') }}" alt="" class="img-fluid">
                       <div class="menu-grid-desc">
                           <span class="price float-right">$9.50</span>
                           <h4>Menu title</h4>
                           <p>
                               Mauris malesuada fames Aliquam erat ac ipsum dipiscing Nulla amet elt wisi bulum Integer luctus et.
                           </p>
                       </div>
                   </a>
               </div><!--end col-->
               <div class=" breakfast lunch col-md-4 margin-b-30 menu-item">
                   <a href="#" class="menu-grid">
                       <img src="{{ asset('images/img-4.jpg') }}" alt="" class="img-fluid">
                       <div class="menu-grid-desc">
                           <span class="price float-right">$9.50</span>
                           <h4>Menu title</h4>
                           <p>
                               Mauris malesuada fames Aliquam erat ac ipsum dipiscing Nulla amet elt wisi bulum Integer luctus et.
                           </p>
                       </div>
                   </a>
               </div><!--end col-->
               <div class=" dinner start col-md-4 margin-b-30 menu-item">
                   <a href="#" class="menu-grid">
                       <img src="{{ asset('images/img-5.jpg') }}" alt="" class="img-fluid">
                       <div class="menu-grid-desc">
                           <span class="price float-right">$9.50</span>
                           <h4>Menu title</h4>
                           <p>
                               Mauris malesuada fames Aliquam erat ac ipsum dipiscing Nulla amet elt wisi bulum Integer luctus et.
                           </p>
                       </div>
                   </a>
               </div><!--end col-->
               <div class=" breakfast col-md-4 margin-b-30 menu-item">
                   <a href="#" class="menu-grid">
                       <img src="{{ asset('images/img-6.jpg') }}" alt="" class="img-fluid">
                       <div class="menu-grid-desc">
                           <span class="price float-right">$9.50</span>
                           <h4>Menu title</h4>
                           <p>
                               Mauris malesuada fames Aliquam erat ac ipsum dipiscing Nulla amet elt wisi bulum Integer luctus et.
                           </p>
                       </div>
                   </a>
               </div><!--end col-->
               <div class=" dinner start col-md-4 margin-b-30 menu-item">
                   <a href="#" class="menu-grid">
                       <img src="{{ asset('images/img-7.jpg') }}" alt="" class="img-fluid">
                       <div class="menu-grid-desc">
                           <span class="price float-right">$9.50</span>
                           <h4>Menu title</h4>
                           <p>
                               Mauris malesuada fames Aliquam erat ac ipsum dipiscing Nulla amet elt wisi bulum Integer luctus et.
                           </p>
                       </div>
                   </a>
               </div><!--end col-->
               <div class=" breakfast lunch col-md-4 margin-b-30 menu-item">
                   <a href="#" class="menu-grid">
                       <img src="{{ asset('images/img-8.jpg') }}" alt="" class="img-fluid">
                       <div class="menu-grid-desc">
                           <span class="price float-right">$9.50</span>
                           <h4>Menu title</h4>
                           <p>
                               Mauris malesuada fames Aliquam erat ac ipsum dipiscing Nulla amet elt wisi bulum Integer luctus et.
                           </p>
                       </div>
                   </a>
               </div><!--end col-->
               <div class=" start dinner col-md-4 margin-b-30 menu-item">
                   <a href="#" class="menu-grid">
                       <img src="{{ asset('images/img-9.jpg') }}" alt="" class="img-fluid">
                       <div class="menu-grid-desc">
                           <span class="price float-right">$9.50</span>
                           <h4>Menu title</h4>
                           <p>
                               Mauris malesuada fames Aliquam erat ac ipsum dipiscing Nulla amet elt wisi bulum Integer luctus et.
                           </p>
                       </div>
                   </a>
               </div><!--end col-->
           </div>
       </div>
       </section>
        <!--menu-->
      <!-- <section id="menu">
            <div class="space-70"></div>
            <div class="container">
                <div class="text-center">
                    <h1 class="title-1">Our <span class="text-color ">Menu</span></h1>  
                    <h5 class="subtitle">Lorem ipsum dolor</h5>
                    <div class="space-30"></div>
                </div>
                <ul class="menu-filter-list list-inline margin-b-40 text-center">
                    <li class="is-checked" data-filter="*">All</li>
                    <li data-filter=".start">start</li>
                    <li data-filter=".breakfast">Breakfast</li>
                    <li data-filter=".lunch">Lunch</li>
                    <li data-filter=".dinner">Dinner</li>

                </ul>
                <div class="row menu-filter-items">
                    <div class=" start breakfast col-md-4 margin-b-30 menu-item">

                        <div class="menu-box clearfix ">
                            <div class="thumb">
                                <img src="{{ asset('images/img-5.jpg') }}" width="70" alt="">
                            </div>
                            <div class="menu-content">
                                <h4><a href="#">Special Coffee</a> <span>$7.79</span></h4>
                                <p>pellentesque enim. Aliquam tempor</p>
                            </div>
                        </div>
                    </div><!--end col-->
                  <!--  <div class=" start col-md-4 margin-b-30 menu-item">
                        <div class="menu-box clearfix ">
                            <div class="thumb">
                                <img src="{{ asset('images/img-4.jpg') }}" width="70" alt="">
                            </div>
                            <div class="menu-content">
                                <h4><a href="#">Special Coffee</a> <span>$7.79</span></h4>
                                <p>pellentesque enim. Aliquam tempor</p>
                            </div>
                        </div>
                    </div><!--end col-->
       <!-- <div class=" start col-md-4 margin-b-30 menu-item">
                        <div class="menu-box clearfix ">
                            <div class="thumb">
                                <img src="{{ asset('images/img-3.jpg') }}" width="70" alt="">
                            </div>
                            <div class="menu-content">
                                <h4><a href="#">Special Coffee</a> <span>$7.79</span></h4>
                                <p>pellentesque enim. Aliquam tempor</p>
                            </div>
                        </div>
                    </div><!--end col-->
       <!--   <div class=" start breakfast col-md-4 margin-b-30 menu-item">
                        <div class="menu-box clearfix ">
                            <div class="thumb">
                                <img src="{{ asset('images/img-8.jpg') }}" width="70" alt="">
                            </div>
                            <div class="menu-content">
                                <h4><a href="#">Special Coffee</a> <span>$7.79</span></h4>
                                <p>pellentesque enim. Aliquam tempor</p>
                            </div>
                        </div>
                    </div><!--end col-->
       <!--    <div class=" lunch col-md-4 margin-b-30 menu-item">
                        <div class="menu-box clearfix ">
                            <div class="thumb">
                                <img src="{{ asset('images/img-2.jpg') }}" width="70" alt="">
                            </div>
                            <div class="menu-content">
                                <h4><a href="#">Special Coffee</a> <span>$7.79</span></h4>
                                <p>pellentesque enim. Aliquam tempor</p>
                            </div>
                        </div>
                    </div><!--end col-->
       <!--   <div class=" lunch col-md-4 margin-b-30 menu-item">
                        <div class="menu-box clearfix ">
                            <div class="thumb">
                                <img src="{{ asset('images/img-1.jpg') }}" width="70" alt="">
                            </div>
                            <div class="menu-content">
                                <h4><a href="#">Special Coffee</a> <span>$7.79</span></h4>
                                <p>pellentesque enim. Aliquam tempor</p>
                            </div>
                        </div>
                    </div><!--end col-->
       <!--  <div class=" dinner breakfast col-md-4 margin-b-30 menu-item">
                        <div class="menu-box clearfix ">
                            <div class="thumb">
                                <img src="{{ asset('images/a2.jpg') }}" width="70" alt="">
                            </div>
                            <div class="menu-content">
                                <h4><a href="#">Special Coffee</a> <span>$7.79</span></h4>
                                <p>pellentesque enim. Aliquam tempor</p>
                            </div>
                        </div>
                    </div><!--end col-->
       <!-- <div class=" start dinner breakfast col-md-4 margin-b-30 menu-item">
                        <div class="menu-box clearfix ">
                            <div class="thumb">
                                <img src="{{ asset('images/img-8.jpg') }}" width="70" alt="">
                            </div>
                            <div class="menu-content">
                                <h4><a href="#">Special Coffee</a> <span>$7.79</span></h4>
                                <p>pellentesque enim. Aliquam tempor</p>
                            </div>
                        </div>
                    </div><!--end col-->
       <!--   <div class=" start breakfast col-md-4 margin-b-30 menu-item">
                        <div class="menu-box clearfix ">
                            <div class="thumb">
                                <img src="{{ asset('images/img-9.jpg') }}" width="70" alt="">
                            </div>
                            <div class="menu-content">
                                <h4><a href="#">Special Coffee</a> <span>$7.79</span></h4>
                                <p>pellentesque enim. Aliquam tempor</p>
                            </div>
                        </div>
                    </div><!--end col-->
       <!--  <div class=" dinner col-md-4 margin-b-30 menu-item">
                        <div class="menu-box clearfix ">
                            <div class="thumb">
                                <img src="{{ asset('images/a2.jpg') }}" width="70" alt="">
                            </div>
                            <div class="menu-content">
                                <h4><a href="#">Special Coffee</a> <span>$7.79</span></h4>
                                <p>pellentesque enim. Aliquam tempor</p>
                            </div>
                        </div>
                    </div><!--end col-->
       <!--  <div class=" lunch breakfast col-md-4 margin-b-30 menu-item">
                        <div class="menu-box clearfix ">
                            <div class="thumb">
                                <img src="{{ asset('images/img-7.jpg') }}" width="70" alt="">
                            </div>
                            <div class="menu-content">
                                <h4><a href="#">Special Coffee</a> <span>$7.79</span></h4>
                                <p>pellentesque enim. Aliquam tempor</p>
                            </div>
                        </div>
                    </div><!--end col-->
       <!--    <div class=" breakfast col-md-4 margin-b-30 menu-item">
                        <div class="menu-box clearfix ">
                            <div class="thumb">
                                <img src="{{ asset('images/img-6.jpg') }}" width="70" alt="">
                            </div>
                            <div class="menu-content">
                                <h4><a href="#">Special Coffee</a> <span>$7.79</span></h4>
                                <p>pellentesque enim. Aliquam tempor</p>
                            </div>
                        </div>
                    </div><!--end col-->
       <!-- <div class=" start dinner col-md-4 margin-b-30 menu-item">
                        <div class="menu-box clearfix ">
                            <div class="thumb">
                                <img src="{{ asset('images/img-5.jpg') }}" width="70" alt="">
                            </div>
                            <div class="menu-content">
                                <h4><a href="#">Special Coffee</a> <span>$7.79</span></h4>
                                <p>pellentesque enim. Aliquam tempor</p>
                            </div>
                        </div>
                    </div><!--end col-->
       <!-- <div class=" start col-md-4 margin-b-30 menu-item">
                        <div class="menu-box clearfix ">
                            <div class="thumb">
                                <img src="{{ asset('images/img-3.jpg') }}" width="70" alt="">
                            </div>
                            <div class="menu-content">
                                <h4><a href="#">Special Coffee</a> <span>$7.79</span></h4>
                                <p>pellentesque enim. Aliquam tempor</p>
                            </div>
                        </div>
                    </div><!--end col-->
       <!--   <div class=" start dinner col-md-4 margin-b-30 menu-item">
                        <div class="menu-box clearfix ">
                            <div class="thumb">
                                <img src="{{ asset('images/img-2.jpg') }}" width="70" alt="">
                            </div>
                            <div class="menu-content">
                                <h4><a href="#">Special Coffee</a> <span>$7.79</span></h4>
                                <p>pellentesque enim. Aliquam tempor</p>
                            </div>
                        </div>
                    </div><!--end col-->
       <!--  <div class=" lunch col-md-4 margin-b-30 menu-item">
                        <div class="menu-box clearfix ">
                            <div class="thumb">
                                <img src="{{ asset('images/img-6.jpg') }}" width="70" alt="">
                            </div>
                            <div class="menu-content">
                                <h4><a href="#">Special Coffee</a> <span>$7.79</span></h4>
                                <p>pellentesque enim. Aliquam tempor</p>
                            </div>
                        </div>
                    </div><!--end col-->
       <!--  <div class=" lunch dinner col-md-4 margin-b-30 menu-item">
                        <div class="menu-box clearfix ">
                            <div class="thumb">
                                <img src="{{ asset('images/img-1.jpg') }}" width="70" alt="">
                            </div>
                            <div class="menu-content">
                                <h4><a href="#">Special Coffee</a> <span>$7.79</span></h4>
                                <p>pellentesque enim. Aliquam tempor</p>
                            </div>
                        </div>
                    </div><!--end col-->
       <!--   <div class=" lunch col-md-4 margin-b-30 menu-item">
                        <div class="menu-box clearfix ">
                            <div class="thumb">
                                <img src="{{ asset('images/a3.jpg') }}" width="70" alt="">
                            </div>
                            <div class="menu-content">
                                <h4><a href="#">Special Coffee</a> <span>$7.79</span></h4>
                                <p>pellentesque enim. Aliquam tempor</p>
                            </div>
                        </div>
                    </div><!--end col-->
       <!--    </div>
      </div>-->
      <div class="space-50"></div>
       <!-- </section>
       <!--end menu-->


       <div class="cta-background parallax-background" >
           <div class="container">
               <div class="row">
                   <div class="col-md-8 ml-auto text-left">
                       <p class="lead ">
                           " Cooking everything with respect will lead to amazing tasting experiences "
                       </p>
                       <span class="lead">Rolf Baumann</span>
                   </div>
               </div>
           </div>
       </div><!--end call to action-->

        <!--testimonials-->
        <div class="testimonials">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <div class="text-center">
                            <h1 class="title-1">Customer <span class="text-color ">Reviews</span></h1>  
                            <h5 class="subtitle">What they say</h5>
                            <div class="space-30"></div>
                        </div>
                        <div class="testi-slider">
                            <ul class="slides">
                                <li>
                                    <p>
                                        Duis leo justo, condimentum at purus eu,Aenean sed dolor sem. Etiam massa libero, auctor vitae egestas et, accumsan quis nunc. 
                                    </p>

                                    <div class="testi-info">
                                        <img src="{{ asset('images/avtar-1.jpg') }}" alt="" width="50" class="rounded-circle">
                                        <h4>John Doe <small> - Wize Guys customer</small></h4>

                                        <i class="ion-star"></i>
                                        <i class="ion-star"></i>
                                        <i class="ion-star"></i>
                                        <i class="ion-star"></i>
                                        <i class="ion-ios-star-half"></i>
                                    </div>
                                </li><!--slide item-->
                                <li>
                                    <p>
                                        Duis leo justo, condimentum at purus eu,Aenean sed dolor sem. Etiam massa libero, auctor vitae egestas et, accumsan quis nunc. 
                                    </p>

                                    <div class="testi-info">
                                        <img src="{{ asset('images/avtar-2.jpg') }}" alt="" width="50" class="rounded-circle">
                                        <h4>John Doe <small> - Wize Guys customer</small></h4>

                                        <i class="ion-star"></i>
                                        <i class="ion-star"></i>
                                        <i class="ion-star"></i>
                                        <i class="ion-star"></i>
                                        <i class="ion-ios-star-half"></i>
                                    </div>
                                </li><!--slide item-->
                                <li>
                                    <p>
                                        Duis leo justo, condimentum at purus eu,Aenean sed dolor sem. Etiam massa libero, auctor vitae egestas et, accumsan quis nunc. 
                                    </p>

                                    <div class="testi-info">
                                        <img src="{{ asset('images/avtar-3.jpg') }}" alt="" width="50" class="rounded-circle">
                                        <h4>John Doe <small> - Wize Guys customer</small></h4>
                                        <i class="ion-star"></i>
                                        <i class="ion-star"></i>
                                        <i class="ion-star"></i>
                                        <i class="ion-star"></i>
                                        <i class="ion-ios-star-half"></i>
                                    </div>
                                </li><!--slide item-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--testimonials end-->

        <!--reservation-->
       <section id="reservation">
            <div class="space-70"></div>
            <div class="container">
                <div class="text-center">
                    <h1 class="title-1">Book a <span class="text-color ">Table</span></h1>
                    <h5 class="subtitle">Lorem ipsum dolor</h5>
                    <div class="space-30"></div>
                </div>

                <div class="row">
                    <div class="col-lg-8 ml-auto mr-auto">
                       <form  method="post" class="reservation-form"  action="{{ path('index') }}" name="reservation">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group date">
                                    <input type="text" class="form-control datepicker" name="date" placeholder="Date">
                                    <div class="input-group-addon">
                                        <span class="ion-calendar"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control " name="full_name" id="r_name" placeholder="Name">
                                    <div class="input-group-addon">
                                        <span class="ion-person"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="email_address" id="r_email" placeholder="Email Id">
                                    <div class="input-group-addon">
                                        <span class="ion-ios-email"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group clockpicker">
                                    <input type="text" class="form-control" name="time" id="r_time" value="09:30" placeholder="Time">
                                    <span class="input-group-addon">
                                        <span class="ion-ios-clock"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="guest_number" id="r_guest" placeholder="Guest Number">
                                    <div class="input-group-addon">
                                        <span class="ion-person"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="phone_number" id="r_phone_number" placeholder="Phone Number">
                                    <div class="input-group-addon">
                                        <span class="ion-android-call"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                           <button type="submit" name="submit_reservation" class="btn btn-xl btn-dark btn-block">Book Now</button>
                        <div id="r_result"></div>
                    </form>
                    </div>
                </div>
            </div>
            <div class="space-70"></div>
        </section>
        <!--end reservation-->



        <!--contact-->
        <section id="contact">
            <div class="container-fluid no-padd contact-wrapper">
                <div class="row align-items-center no-margin">
                    <div class="col-md-8 no-padd">
                        <!--Google Maps-->
                        <div class="google-map-container">
                            <div id="googlemaps" style="width: 100%;height: 400px;"></div>
                        </div>
                        <!--/Google Maps-->
                    </div>
                    <div class="col-md-4 no-padd address-bg">
                        <h3>Hackensack</h3>
                        <ul class="list-unstyled">
                            <li>380 West Pleasantview Ave</li>
                            <li>New Jersey, NJ 07601</li>
                            <li><i class="ion-ios-telephone"></i> (201)343-1000 </li>
                        </ul>
                        <hr>
                        <h3>Clifton</h3>
                        <ul class="list-unstyled">
                            <li>353 Crooks Avenue</li>
                            <li>New Jersey, NJ 07011</li>
                            <li><i class="ion-ios-telephone"></i> (973)772-3535 </li>
                        </ul>
                    </div>
                </div>
            </div><!--/map wrap-->


            <div class="space-70"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 ml-auto mr-auto">
                        <h3 class="text-capitalize text-center margin-b-20">Leave a message</h3>

                        <form method="post" action="{{ path('index') }}" name="message" class="resto-contact">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 margin-b-20">
                                            <input type="text" name="full_name" class="form-control" placeholder="Full Name...." />
                                        </div>
                                        <div class="col-md-12 margin-b-20">
                                            <input type="text" name="email_address" class="form-control" placeholder="Email Address...." />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 margin-b-20">
                                    <textarea name="message" class="form-control" rows="5" placeholder="Message...."></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="data-status"></div> <!-- data submit status -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button type="submit" name="submit_message" class="btn btn-rounded btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>

        <div class="space-70"></div>
        <div class="cta-skin contact-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 margin-b-30">
                        <i class="ion-email"></i>
                        <div class="overflow-hidden">
                            <h4>Email</h4>
                            <p class="lead">
                                yourmail@dmain.com
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 margin-b-30">
                        <i class="ion-email"></i>
                        <div class="overflow-hidden">
                            <h4>Reservation</h4>
                            <p class="lead">
                                +01 123-456-4590
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 margin-b-30">
                        <i class="ion-map"></i>
                        <div class="overflow-hidden">
                            <h4>Location</h4>
                            <p class="lead">
                                124, Lorem Street, NY
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% block javascripts %}
        <script type="text/javascript">
            //revolution slider
    jQuery("#slider1").revolution({
        sliderType: "standard",
        jsFileLocation: "/assets/plugins/revolution/",
        sliderLayout: "fullscreen",
        dottedOverlay: "none",
        delay: 9000,
        navigation: {
            arrows: {enable: true}
        },
        parallax: {
            type: "on",
            levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85],
            origo: "enterpoint",
            speed: 400,
            bgparallax: "on",
            disable_onmobile: "off"
        },
        gridwidth: 1170,
        gridheight: 600
    });
            (function ($) {
                $(document).ready(function () {

                    $('#googlemaps').gMap({
                        maptype: 'ROADMAP',
                        scrollwheel: false,
                        zoom: 13,
                        markers: [
                            {
                                address: 'New Jersey, 380 W Pleasantview Ave', // Your Address Here
                                html: '<strong>Hackensack</strong><br>380 W Pleasantview Ave </br> NJ 07601  ',
                                popup: false,
                                icon: {
                                    image: "../images/marker.png",
                                    iconsize: [28, 40],
                                    iconanchor: [20, 40]
                                }
                            }

                        ]
                    });
                });
            })(this.jQuery);


            (function ($) {
                $(document).ready(function () {

                    $('#googlemaps').gMap({
                        maptype: 'ROADMAP',
                        scrollwheel: false,
                        zoom: 12,
                        markers: [
                            {
                                address: 'New Jersey, 353 Crooks Avenue', // Your Address Here
                                html: '<strong>Clifton</strong><br>353 Crooks Avenue </br> NJ 07011  ',
                                popup: false,
                                icon: {
                                    image: "../images/marker.png",
                                    iconsize: [28, 40],
                                    iconanchor: [20, 40]
                                }
                            }

                        ]
                    });
                });
            })(this.jQuery);
        </script>   
   {% endblock %}
{% endblock %}
