{% extends 'database.twig' %}

{% block body %}

    <table class="table table-striped" id="ReservationTable">
        <thead>
        <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>Message</th>
            <th>Date</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>

        <h2 class="page-header">Task List</h2>


            {% for message in messages %}
                <tr>
                    <th scope="row">{{ message.id }}</th>
                    <td>{{ message.fullName }}</td>
                    <td>{{ message.emailAddress }}</td>
                    <td>{{ message.message }}</td>
                    <td>{{ message.date|date('F j, Y, g:i a')  }}</td>
                </tr
            {% endfor %}


        </tbody>
    </table>



{% endblock %}